@use '../styles/variables' as *;

.dashboard-layout {
  min-height: 100vh;
  background-color: $background-dark;

  .zorfin-content {
    margin: 0.5rem;
    min-height: 280px;
    overflow: auto;

    @media (min-width: 640px) {
      margin: 1rem;
    }

    @media (min-width: 1024px) {
      margin: 1.5rem;
    }
  }
}
